# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Environment variables
*.env

# IDE/editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# PDF files (optional, if you don't want to push sample PDFs used for testing)
*.pdf